body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #b1a8ac;
}
#voltar{
    display: flex;
    position: absolute;
    margin: 25px;
    top: 20px;
    left: 20px;
    text-decoration: none;
    background-color: rgb(145, 110, 130);
    border-radius: 4px;
}
.quadrado1{
    background-color: rgb(248, 164, 223);
    border: 1px solid #464545 ;
    height: 200px;
    width: 200px;
}
#proxima{
    display: flex;
    position: absolute;
    top: 690px;
    right: 65px;
    background-color: rgb(145, 110, 130);
    border-radius: 4px;
    text-decoration: none;
}
