body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #b1a8acb9;
}
#voltar{
    display: flex;
    position: absolute;
    margin: 25px;
    top: 20px;
    left: 20px;
    text-decoration: none;
    background-color: rgb(145, 110, 130);
    border-radius: 4px;
}
.quadrado{
    margin: 10px;
    border: 1px solid #464545;
    background-color: #ec7dcb;
    height: 200px;
    width: 200px;
    position: relative;
}

.a{
  animation: mover 4s ease infinite;
}
.b{
   animation: mover 4s ease infinite;
   animation-delay: 2s;
}
.c{
   animation: mover 4s ease infinite;
   animation-delay: 4s;
}
@keyframes mover {
    0%{
        top: 0px;
    }
    25%{
        top: 200px;
    }
    50%{
        top: 0px;
    }
    75%{
        top: -200px;
    }
    100%{
        top: 0px;
    }
}
#proxima{
    display: flex;
    position: absolute;
    top: 690px;
    right: 65px;
    background-color: rgb(145, 110, 130);
    border-radius: 4px;
    text-decoration: none;
}
