body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #b1a8acb9;
}
#voltar{
    display: flex;
    position: absolute;
    margin: 25px;
    top: 20px;
    left: 20px;
    text-decoration: none;
    background-color: rgb(145, 110, 130);
    border-radius: 4px;
}

.quadrado6{
    background-color: #f8a4df;
    border: 1px solid #464545 ;
    height: 200px;
    width: 200px;
    position: relative;
    animation-name: mover;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    

    
}

@keyframes mover {

    12.5%{
        transform: rotate(45deg);
        background-color:#f8a4df;
        
    }
    25%{
        transform: rotate(90deg);
        background-color: darkorchid;
        
    }
    37.5%{
        transform: rotate(135deg);
        background-color: rgb(55, 0, 255);
    }
    50%{
        transform: rotate(180deg);
        background-color: rgb(0, 130, 139);
    }
    62.5%{
        transform: rotate(225deg);
        background-color: chocolate;
    }
    75%{
        transform: rotate(270deg);
        background-color: rgb(239, 255, 8);
    }
    87.5%{
        transform: rotate(315deg);
        background-color: black;
    }
    100%{
        transform: rotate(360deg);
        background-color: rgb(255, 0, 0);
    }
}

#proxima{
    display: flex;
    position: absolute;
    top: 690px;
    right: 65px;
    background-color: rgb(145, 110, 130);
    border-radius: 4px;
    text-decoration: none;
}
