body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #b1a8acb9;
}
#voltar{
    display: flex;
    position: absolute;
    margin: 25px;
    top: 20px;
    left: 20px;
    text-decoration: none;
    background-color: rgb(145, 110, 130);
    border-radius: 4px;
}
.circulo9{
    background-color: #f8a4df;
    border: 1px solid #464545;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    animation-name: pulsar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes pulsar {
    100%{
        transform: scale(1.4);  
    }
    
}

#proxima{
    display: flex;
    position: absolute;
    top: 690px;
    right: 65px;
    background-color: rgb(145, 110, 130);
    border-radius: 4px;
    text-decoration: none;
}

